.div1
{
    width: 150px;
    height: 150px;
    background-color: red;
   position: absolute;
   top: 250px;
   bottom: 50px;
   left: 150px;
   right: 50px;
   
}
.div2
{
    width: 150px;
    height: 150px;
    background-color:green;
   position: absolute;
   top: 150px;
   bottom: 100px;
   left: 250px;
   right: 50px; 
   z-index: -1;  
}
.div3
{
    width: 150px;
    height: 150px;
    background-color:blue;
   position: absolute;
   top: 50px;
   bottom: 100px;
   left: 350px;
   right: 50px;  
   z-index: -2; 
}